<div class="container">
    <div class="card myCard">
        <form id="gagForm" class="myForm" th:method="POST" enctype="multipart/form-data" th:action="@{/post/create}">
            <h3>New Post: </h3>
            <div id="errors"></div>
            <div class="input-field">
                <label for="title">Title</label>
                <input type="text" id="title" name="title">
            </div>


            <div class="input-field">
                <label for="answer">Answer</label>
                <input type="text" id="answer" name="answer">
            </div>

            <div id="postCreatePageFlag">
                <div id="tui-image-editor"></div>
            </div>



            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="description" name="description" class="materialize-textarea"></textarea>
                            <label for="description">Description</label>
                        </div>
                    </div>
                </form>
            </div>


            <div class="button-holder d-flex justify-content-center">
                <button id="gagCreateBtn" type="button" class="btn btn-secondary myBtn">Create Post</button>
            </div>
        </form>
    </div>
</div>