<div class="alignCenter">
    <div class="myGag">
        <div style="display: inline-block">
            <a class="postLink" th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}">gag</a>
            <div class="inline">
                <img class="materialboxed" th:src="${post.picture}">
            </div>
            <a id="pointsComments" class="grayLink" th:href="@{/post/{id}(id=${post.id})}"
               th:text="|${post.likes.size()} points  ${post.comments.size()} comments|"></a>
        </div>
        <!--<div style="float:left" sec:authorize="isAuthenticated()">-->
            <!--<button id="likeBtn" th:classappend="${hasLiked} ? disabled : enabled" class="waves-effect waves-light btn">-->
                <!--<i class="material-icons left">arrow_upward</i>Like!-->
            <!--</button>-->
        <!--</div>-->
        <a style="float:right" sec:authorize="isAuthenticated()" th:if="${user.isAdmin() OR user.isAuthor(post)}"
           class='dropdown-trigger btn'
           href='#' data-target='dropdown1'><i
                class="material-icons">more_vert</i></a>

    </div>

</div>

<!-- Dropdown Structure -->
<ul sec:authorize="isAuthenticated()" th:if="${user.isAdmin() OR user.isAuthor(post)}" id='dropdown1'
    class='dropdown-content'>
    <li><a th:href="@{/post/edit/{id} (id=${post.id})}">EDIT</a></li>
    <li><a href="javascript:{}" onclick="document.getElementById('deleteForm').submit();">DELETE</a></li>
</ul>
<form sec:authorize="isAuthenticated()" th:if="${user.isAdmin() OR user.isAuthor(post)}" id="deleteForm"
      th:action="@{/gag/delete/{id} (id=${gag.id})}" method="POST"></form>
<div class="container">
    <div class="card myCard2">
        <p th:text="|${post.comments.size()} comments|"></p>
        <hr>
        <div style="display: flex; flex-direction:column; justify-content: flex-start">
            <form id="commentForm" th:action="@{/post/comment/{id} (id=${post.id})}" method="POST"
                  sec:authorize="isAuthenticated()">

                <div class="input-field wmx">
                    <label for="content">Post a Comment!</label>
                    <textarea class="materialize-textarea commentContent" id="content" name="content"></textarea>
                    <button style="float:right; width:60px;" id="submitComment" type="button"
                            class="waves-effect waves-light btn green accent-4"><i
                            class="material-icons">comment</i>
                    </button>
                </div>


            </form>
            <div style="display:flex;" th:each="comment : ${post.comments}">
                <div style="display: inline-block;">
                    <img style="width:60px; display: inline-block;" th:src="${comment.author.profilePicture}">
                </div>
                <div style="display:inline-block;">
                    <a th:href="@{/user/{id} (id=${comment.author.id})}" style="font-weight: 700;font-size: 13px;color: #000;"
                       th:text="${comment.author.username}"></a>
                    <span style="font-size: 11px;line-height: 20px;color: #999;" th:text="${comment.postDate}"></span> <span style="color:rgba(0, 255, 0, 0.4);font-weight: 700" th:if="${comment.author.isAuthor(post)}">OP</span>
                    <p th:text="${comment.content}"></p>
                </div>
            </div>
        </div>
    </div>
</div>