<div th:object="${user}" class="container" style="margin-bottom:15%;">

    <div style="display: flex; flex-direction: column" class="card myCard3">
        <div style="display:flex; flex-direction: row">
            <img th:src="*{profilePicture}" style="width: 50%;height: 250px">

            <div class="inline-block">
                <ul>
                    <li class="myLi"><i class="material-icons">person</i><span th:text="*{username}"></span></li>
<!--                    <li class="myLi"><i class="material-icons">person_outline</i><span th:text="*{nickname}"></span></li>-->

                    <li th:unless="*{email == null}" class="myLi"><i class="material-icons">email</i><span th:text="*{email}"></span></li>
                    <li class="myLi"><i class="material-icons">comment</i><span th:text="*{answeredPosts.size()}"></span></li>
                    <li class="myLi"><i class="material-icons">collections</i><span th:text="*{posts.size()}"></span></li>
                    <li class="myLi"><a href="/user/edit" class="myTransparentBtn"><i class="material-icons">settings</i></a></li>

                </ul>
            </div>
        </div>


        <div class="col s12">
            <ul id="tabs" class="tabs">
                <li class="tab myTab col s3"><a class="active" href="#posts">POSTS</a></li>
                <li class="tab myTab col s3"><a href="#liked">UPVOTED</a></li>
            </ul>
        </div>
    </div>
    <div id="posts">
        <div th:each="post : *{posts}" class="mypost">
            <div style="display: inline-block">
                <a class="postLink" th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}">post</a>
                <div class="inline">
                    <img class="materialboxed" th:src="${post.picture}">
                </div>
                <a class="grayLink" th:href="@{/post/{id}(id=${post.id})}"
                   th:text="|${post.likes.size()} points  ${post.comments.size()} comments|"></a>
            </div>
        </div>
    </div>
    <div id="liked">
        <div th:each="post : *{likedPosts}" class="mypost">

            <div style="display: inline-block">
                <a class="postLink" th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}">post</a>
                <div class="inline">
                    <img class="materialboxed" th:src="${post.picture}">
                </div>
                <a class="grayLink" th:href="@{/post/{id}(id=${post.id})}"
                   th:text="|${post.likes.size()} points  ${post.comments.size()} comments|"></a>

            </div>
        </div>
    </div>
</div>