<title th:if="${pageTitle}" th:text="${pageTitle}"></title>

<!--<link rel="stylesheet" href="PUT CDN HERE">-->
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/css/dropify.css}" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.css">
<link rel="stylesheet" href="https://uicdn.toast.com/tui-image-editor/latest/tui-image-editor.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
