<div th:fragment="header">
    <nav class="nav-extended site-nav">
        <div class="nav-wrapper grey darken-3">
            <a href="/" class="brand-logo">Guessing Game</a>
            <a href="#" id="sidenavBtn" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a sec:authorize="isAnonymous()" href="/login">Login</a></li>
                <li><a sec:authorize="isAnonymous()" href="/register">Register</a></li>
                <li><a sec:authorize="hasRole('ADMIN')" href="/admin/users">Users</a></li>
                <li><a sec:authorize="isAuthenticated()" href="/user/profile">Profile</a></li>
                <li><a sec:authorize="isAuthenticated()" href="/post/create">Create a Post!</a></li>
                <li><a sec:authorize="isAuthenticated()" href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="slide-out">
        <li><a sec:authorize="isAnonymous()" href="/login">Login</a></li>
        <li><a sec:authorize="isAnonymous()" href="/register">Register</a></li>
        <li><a sec:authorize="hasRole('ADMIN')" href="/admin/users">Users</a></li>
        <li><a sec:authorize="isAuthenticated()" href="/user/profile">Profile</a></li>
        <li><a sec:authorize="isAuthenticated()" href="/post/create">Create a Post!</a></li>
        <li><a sec:authorize="isAuthenticated()" href="/logout">Logout</a></li>
    </ul>

</div>