<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->

<!--<script th:src="@{/scripts/material.js}"></script>-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script th:src="@{/scripts/myScript.js}"></script>
<script th:src="@{/scripts/dropify.js}"></script>
<!--<script th:src="@{/scripts/fabric.js}"></script>-->
<!--<script th:src="@{/scripts/tui-code-snippet.js}"></script>-->
<!--<script th:src="@{/scripts/tui-color-picker.js}"></script>-->
<!--<script th:src="@{/scripts/tui-image-editor.js}"></script>-->
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.4.0/fabric.js"></script>
<script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
<script src="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.js"></script>

<script src="https://uicdn.toast.com/tui-image-editor/latest/tui-image-editor.js"></script>

<!--<script src="https://uicdn.toast.com/tui-editor/latest/tui-editor-Editor-full.js"></script>-->