
<div class="alignCenter">
    <div th:each="post : ${mostAnswered}" class="myPost">
        <div style="display: inline-block">
            <a class="postLink" th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}">post</a>
            <div class="inline">
                <img class="materialboxed" th:src="${post.picture}">
            </div>
            <a class="grayLink" th:href="@{/post/{id}(id=${post.id})}" th:text="|${post.answers.size()} points  ${post.comments.size()} comments|"></a>
        </div>
    </div>
</div>